<strong>Olá, {{ student }}</strong>
<p>Bem vindo a nossa academia! </p>
<p>Ficamos felizes de nos escolher. Os detalhes do seu plano estão logo abaixo:</p>
<p>
  <strong>Plano escolhido: </strong> {{ plan }} <br />
  <strong>Forma de Pagamento: </strong> {{ payment }} <br />
  <strong>Data de Inicio: </strong> {{ start_date }} <br />
  <strong>Data de Termino: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> {{ price }} <br />
</p>
